.news__title {
    font-family: Inter;
    font-size: 52px;
    font-weight: 600;
    line-height: 62.4px;
    letter-spacing: -0.03em;
    text-align: left;
}
.news__box {
    display: block;
    max-width: 364px;
    margin-bottom: 42px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-42 {
    margin-bottom: 42px;
}
.wrap {
    flex-wrap: wrap;
}
.news__datebox {
    max-width: 273px;
}
.news__timebox {
    max-width: 70px;
}
.pagination__page {
    display: block;
    padding: 13px 13px;
    border: 1px solid #E2E3E6;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.6000000238418579px;
    text-align: center;
}
.news__img {
    width: 100%;
}
.news__subtitle {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.pagination__box {
    max-width: 542px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
}
.container__flex-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}